{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@domain": "./src/domain",
        "@application": "./src/application",
        "@services": "./src/services"
      }
    }]
  ]
}